{% extends "layout.html" %}

{% block page_title %}
  Sandbox welcome
{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="phase-banner">
 <p>
   <strong class="phase-tag">Prototype</strong>
   <span>This is a prototype of a new service – your <a href="#">feedback</a> will help us to improve it.</span>
 </p>

</div>

   <div class="breadcrumbs">
    <ol>
      <li><a href="/">Analyst sandbox prototype</a></li>
      <li><a href="/user-agreement">User agreement</a></li>
      <li>About</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Step 4 of 8</span>
          Welcome to the analyst sandbox prototype
      </h1>

      <h2 class="heading-medium"> About the sandbox</h2>

      <p>This is a prototype version of the government data science sandbox, which is being developed by the Better use of Data team at the <a href="https://www.gov.uk/government/organisations/government-digital-service" target="_blank"> Government Digital Service.</a></p>

      <p>Civil servants can create their own sandbox environment to test a variety of analytical software using their government issued devices, learn what these tools can do for them and build a business case for their use.</p>

      <div>
        <p><a class="button button-start" href="/common-sandbox" role="button">Start building your sandbox</a></p>
      </div>

       <p>The links below tell you more about how the sandbox is being used. You can find this information later, from the right-hand-side menu and from your sandbox homepage<p>

     <div class="grid-row">
        <div class="column-third">
          <h2 class="bold-medium">Impact</h2>
        <div class="govuk-box-highlight">
          <h1 class="bold-large">Five case studies</h1>
          <p>
            <strong class="heading-medium"><a href="#">See what users have built</strong></a>
          </p>
        </div>
        </div>
      <div class="column-third">
        <h2 class="bold-medium">Sandboxes</h2>
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Browse 17 sandboxes</h1>
        <p>
          <strong class="heading-medium"><a href="#">See what tools others are using</strong></a>
        </p>
      </div>
      </div>
    <div class="column-third">
        <h2 class="bold-medium">Users</h2>
      <div class="govuk-box-highlight">
        <h1 class="bold-large">11 users, 8 depts</h1>
        <p>
          <strong class="heading-medium"><a href="#">See who else is using this service</strong></a>
        </p>
      </div>
      </div>
    </div>

    </div>
  </div>
  </div>
</main>
{% endblock %}
