{% extends "layout.html" %}

{% block page_title %}
  Sandbox welcome
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <a href="/existing-sandboxes">Back to sandbox homepage</a>

      <h1 class="heading-xlarge">
          Build a business case for the tools in your sandbox
      </h1>

      <form action="" method="get" class="form">


        <h2 class="heading-medium">
          How would you like to build your business case?
        </h2>
        <p>Select one of the options below</p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              What would you like to do today?
            </legend>

            <label for="radio-part-2" class="block-label selection-button-radio">
              <input id="radio-part-2" type="radio" name="user" value="existing">
              <span class="heading-small">See other relevant business cases</span><br>
              Business case wiki
            </label>

            <label for="radio-part-3" class="block-label selection-button-radio">
              <input id="radio-part-3" type="radio" name="user" value="new">
              <span class="heading-small">Write your own business case</span><br>
              Create a new business case
            </label>

            <label for="radio-part-3" class="block-label selection-button-radio">
              <input id="radio-part-3" type="radio" name="user" value="new">
              <span class="heading-small">Get help writing a business case</span><br>
              Contact us
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
