{% extends "layout.html" %}

{% block page_title %}
  Sandbox welcome
{% endblock %}

{% block content %}
<main id="content" role="main">

 <div class="breadcrumbs">
    <ol>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/">Analyst sandbox prototype</a></li>
      <li><a href="/user-agreement">User agreement</a></li>
      <li><a href="/welcome-test">About</a></li>
      <li>Custom sandbox</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Step 5 of 8</span>
          Configure your custom sandbox
      </h1>

<div class="grid-row">
         <div class="column-third">
         <h3 class="heading-medium">Language</h3>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">Which data science tools would you like to use?</legend>

            <label for="R" class="block-label selection-button-checkbox">
              <input type="checkbox" name="language" id="R">
              R
            </label>

            <label for="Python" class="block-label selection-button-checkbox">
              <input type="checkbox" name="language" id="Python">
              Python
            </label>

            <label for="Julia" class="block-label selection-button-checkbox">
              <input type="checkbox" name="language" id="Julia">
              Julia
            </label>

            <label for="nationality_other" class="block-label selection-button-checkbox" data-target="example_language_other">
              <input type="checkbox" name="language" value="Wales" id="nationality_other" aria-controls="example_nationality_other" aria-expanded="false">
              Other
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example_language_other" aria-hidden="true">
              <label for="nationality_other_countries" class="form-label">
                Please specify
              </label>
              <input class="form-control" type="text" id="nationality_other_countries">
            </div>

          </fieldset>
          </div>
        </div>
        <div class="column-third">
        <h3 class="heading-medium">Databases</h3>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">Databases</legend>

            <label for="postgres" class="block-label selection-button-checkbox">
              <input type="checkbox" name="database" id="postgres">
              Postgres
            </label>

            <label for="mongo" class="block-label selection-button-checkbox">
              <input type="checkbox" name="database" id="mongo">
              MongoDB
            </label>

            <label for="nationality_other" class="block-label selection-button-checkbox" data-target="example_db_other">
              <input type="checkbox" name="database" id="nationality_other" aria-controls="example_nationality_other" aria-expanded="false">
              Other
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example_db_other" aria-hidden="true">
              <label for="nationality_other_countries" class="form-label">
                Please specify
              </label>
              <input class="form-control" type="text" id="nationality_other_countries">
            </div>

          </fieldset>
        </div>
</div>
         <div class="column-third">
         <h3 class="heading-medium">Environment</h3>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">IDEs</legend>

            <label for="beaker" class="block-label selection-button-checkbox">
              <input type="checkbox" name="ide" id="beaker">
              Beaker
            </label>

            <label for="jupyter" class="block-label selection-button-checkbox">
              <input type="checkbox" name="ide" id="jupyter">
              Jupyter
            </label>

            <label for="nationality_other" class="block-label selection-button-checkbox" data-target="example_ide_other">
              <input type="checkbox" name="nationality_other" id="nationality_other" aria-controls="example_nationality_other" aria-expanded="false">
              Other
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example_ide_other" aria-hidden="true">
              <label for="nationality_other_countries" class="form-label">
                Please specify
              </label>
              <input class="form-control" type="text" id="nationality_other_countries">
            </div>

          </fieldset>
</div>
        </div>
            </div>

    <div>
    <label class="form-checkbox" for="checkbox-telephone-number">
    <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">I need help choosing my tools
    </label>
  </div>

      <div><a class="button button-start" href="https://analyst-sandbox-prototype.herokuapp.com/task-choice" html" role="button">Choose a task</a></div>
           

    </div>
  </div>
</main>
{% endblock %}
