  <section aria-labelledby="transactions-per-year-heading" role="region" id="transactions-per-year" class="module kpi cols3">

        <h2 id="transactions-per-year"><a href="#">Sandboxes in use</a></h2>

        <div class="visualisation">

          <div class="visualisation-inner"><div class="stat">
            <p class="single-stat-headline impact-number">
              <strong><abbr aria-label="46,907,689" title="46,907,689">17 sandboxes</abbr></strong>
            </p>
            <p class="period">Since Jan 2017</p>
          </div>

          <div class="delta">
          <div class="single-stat-delta">
            See what tools others are using
          </div>
          </div>
        </div>

        <div class="visualisation-moreinfo">




        </div>

        </div>
      </section>

       <section aria-labelledby="total-cost-heading" role="region" id="total-cost" class="module kpi cols3">

        <h2 id="total-cost-heading"><a href="#">Users</a></h2>

        <div class="visualisation">

          <div class="visualisation-inner"><div class="stat">
            <p class="single-stat-headline impact-number">
              <strong><abbr aria-label="46,907,689" title="46,907,689">11 users</abbr></strong>
            </p>
            <p class="period">Eight departments</p>
          </div>

          <div class="delta">
          <div class="single-stat-delta">
            See who is using this service
          </div>
          </div>
        </div>

        <div class="visualisation-moreinfo">




        </div>

        </div>
      </section>

      <section aria-labelledby="cost-per-transaction-heading" role="region" id="cost-per-transaction" class="module kpi cols3">
  
        <h2 id="cost-per-transaction-heading"><a href="#">Impact</a></h2>
  
          <div class="visualisation">

            <div class="visualisation-inner"><div class="stat">
              <p class="single-stat-headline impact-number">
              <strong>5 case studies</strong>
              </p>
              <p class="period">Since Jan 2017</p>
            </div>

            <div class="delta">
              <div class="single-stat-delta">
            See what users have built
              </div>
            </div>
        </div>

          <div class="visualisation-moreinfo">

          </div>

        </div>
      </section>