{% extends "layout.html" %}

{% block page_title %}
  Delete sandbox
{% endblock %}

{% block content %}
<main id="content" role="main">
<div class="phase-banner">
 <p>
   <strong class="phase-tag">Prototype</strong>
   <span>This is a prototype of a new service – your <a href="#">feedback</a> will help us to improve it.</span>
 </p>

</div>

  <div class="grid-row">
    <div class="column-two-thirds">

    <a href="/existing-sandboxes">Back to sandbox homepage</a>

      <h1 class="heading-xlarge">
          Delete your sandbox
      </h1>

      <form action="/delete-sandbox-confirm" method="get" class="form">


        <h2 class="heading-medium">
          What would you like to delete today?
        </h2>
        <p>Select one of the options below</p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              What would you like to do today?
            </legend>

            <label for="radio-part-2" class="block-label selection-button-radio">
              <input id="radio-part-2" type="radio" name="del" value="vmonly">
              <span class="heading-small">Delete sandbox</span><br>
              This will kill your virtual machine
            </label>

            <label for="radio-part-3" class="block-label selection-button-radio">
              <input id="radio-part-3" type="radio" name="del" value="vmandrepo">
              <span class="heading-small">Delete sandbox and repository</span><br>
              This will kill your sandbox and your entire repository. <strong>WARNING: This cannot be undone</strong>
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
