{% extends "layout.html" %}

{% block page_title %}
  Sandbox welcome
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
     <li><a href="https://analyst-sandbox-prototype.herokuapp.com/existing-sandboxes">Sandbox homepage</a></li>
      <li>Delete</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

    <a href="/existing-sandboxes">Back to sandbox homepage</a>

      <h1 class="heading-xlarge">
          Delete your sandbox
      </h1>

      <form action="" method="get" class="form">


        <h2 class="heading-medium">
          What would you like to delete today?
        </h2>
        <p>Select one of the options below</p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              What would you like to do today?
            </legend>

            <label for="radio-part-2" class="block-label selection-button-radio">
              <input id="radio-part-2" type="radio" name="user" value="existing">
              <span class="heading-small">Delete sandbox</span><br>
              This will kill your virtual machine
            </label>

            <label for="radio-part-3" class="block-label selection-button-radio">
              <input id="radio-part-3" type="radio" name="user" value="new">
              <span class="heading-small">Delete sandbox and repository</span><br>
              This will kill your sandbox and your entire repository. <strong>WARNING: This cannot be undone</strong>
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
