{% extends "layout.html" %}

{% block page_title %}
  Recipe check
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
     <li><a href="https://analyst-sandbox-prototype.herokuapp.com/existing-sandboxes">Sandbox homepage</a></li>
      <li>Edit</li>
     </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
            Edit your sandbox
        </h1>

        <p>
          This page helps you edit your sandbox, by changing either the software or the task-specific packages.
        </p>

        <form action="/custom-sandbox" method="get" class="form">
        <div class="form-group">

            <fieldset>

              <legend class="visuallyhidden">
              Edit sandbox
              </legend>

              <label for="radio-part-2" class="block-label selection-button-radio">
              <input id="radio-part-2" type="radio" name="edit" value="build">
              <span class="heading-small">Edit software (language, database)</span>
              </label>

              <label for="radio-part-3" class="block-label selection-button-radio">
              <input id="radio-part-3" type="radio" name="edit" value="task">
              <span class="heading-small">Edit task-specific packages</span>
              </label>

            </fieldset>
            </div>
       
        </div>
        </p>
      <div class="form-group">
          <input type="submit" class="button" value="Continue">
           </form>
        </div>
        
  </div>
</main>
{% endblock %}
