{% extends "layout.html" %}

{% block page_title %}
  Sandbox homepage
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="phase-banner">
 <p>
   <strong class="phase-tag">Prototype</strong>
   <span>This is a prototype of a new service – your <a href="#">feedback</a> will help us to improve it.</span>
 </p>

</div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/">Analyst sandbox prototype</a></li>
      <li>Existing sandboxes</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Here are your sandboxes
      </h1>

      <h2 class="heading-medium">If you are an advanced user, you can start work straight away, and complete tasks such as adding data to your sandbox, editing its configuration and sharing your work, directly in your environment.</h2>

       <div>
        <p><a class="button button-start" href="https://test-sandbox.cloudapps.digital/tree" role="button" target="_blank">Go to your development environment</a></p>
      </div>

      <h2 class="heading-medium">Otherwise, use the following links in order to:</h2>
      <p>make changes to your sandbox</p>
       <ul class="list list-bullet">
        <li><a href="https://analyst-sandbox-prototype.herokuapp.com/upload-data">Add data to your sandbox</a></li>
        <li><a href="https://analyst-sandbox-prototype.herokuapp.com/edit-sandbox">Edit sandbox configuration</a></li>
         <li><a href="https://analyst-sandbox-prototype.herokuapp.com/delete-sandbox">Delete your sandbox</a></li></ul>
         <p>make the most of your work, by sharing, collaborating, building a business case and getting help</p>
        <ul class="list list-bullet">
        <li><a href="https://analyst-sandbox-prototype.herokuapp.com/share-sandbox">Share your work and collaborate with others</a></li>
        <li><a href="https://analyst-sandbox-prototype.herokuapp.com/build-business-case">Build a business case</a></li>
        <li><a href="mailto:data-science-sandbox@digital.cabinet-office.gov.uk">Get help with your sandbox - send us an email</a></li>
      </uL>

  <div><a href="https://analyst-sandbox-prototype.herokuapp.com/common-sandbox">Build a new sandbox</a></div>
    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Useful links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://sandbox-docs.cloudapps.digital/" target="_blank">Technical documentation [new window]</a></li>
            <li><a href="/impact-users">Sandbox case studies</a></li>
            <li><a href="#">User agreement</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
