{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/">Analyst sandbox prototype</a></li>
      <li>Existing sandboxes</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Here are your sandboxes
      </h1>

      <h3>Sandbox 1</h3>

      <ul class="list list-bullet">
        <li><a href="https://test-sandbox.cloudapps.digital/tree">Go to your development environment</a></li>
        <li><a href="https://analyst-sandbox-prototype.herokuapp.com/upload-data">Add your data to your database</a></li>
        <li><a href="https://analyst-sandbox-prototype.herokuapp.com/edit-sandbox">Edit sandbox configuration</a></li>
        <li><a href="https://analyst-sandbox-prototype.herokuapp.com/share-sandbox">Share your sandbox and collaborate on GitHub</a></li>
        <li><a href="https://analyst-sandbox-prototype.herokuapp.com/delete-sandbox">Delete your sandbox</a></li>
        <li><a href="https://analyst-sandbox-prototype.herokuapp.com/build-business-case">Build a business case</a></li>
        <li><a href="mailto:sandbox-help[at]digital.cabinet-office.gov.uk">Get help with your sandbox</a></li>
      </uL>
   </ul>

  <div><a href="https://analyst-sandbox-prototype.herokuapp.com/common-sandbox">Build a new sandbox</a></div>
    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Sandbox menu</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Sandbox home</a></li>
            <li><a href="#">Dev environment</a></li>
            <li><a href="#">Edit configuration</a></li>
            <li><a href="#">Share</a></li>
            <li><a href="#">Business case</a></li>
            <li><a href="#" class="bold-xsmall">More<span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
