
        <div class="help-content help-content" data-toggle-text="Help me decide" aria-hidden="false" aria-expanded="true">
        <h2 class="visuallyhidden">Help me decide</h2>
        <p>These pre-configured sandboxes, with commonly-used software, are ready for you to use. Choose one to see what it can do for you. Once you choose a sandbox, you will be asked what tasks you are looking to complete - you can then add further relevant packages specific to your tasks.</p>
        <p>You can click below for further help deciding which sandbox is right for you.</p>
        <a href="#" class="toggle toggle-closed" aria-controls="nationality-provision">I need more help deciding on a sandbox</a><div class="optional-section optional-section" data-toggle-text="I can’t provide my nationality" id="nationality-provision">
            <label for="nationality_noNationalityReason">
                Tell us about what you want to do in your sandbox
            </label>
            <textarea name="nationality.noNationalityReason" id="nationality_noNationalityReason" class=" small validate" data-validation-name="nationalityExcuse" data-validation-type="field" data-validation-rules="nonEmpty" maxlength="500" autocomplete="off"></textarea>
            <p>Please provide your email address</p>
            <input type="email" id="contact_email_detail" name="contact.email.detail" value="" autocomplete="off" class="text  long validate " data-validation-name="emailAddress" data-validation-type="field" data-validation-rules="nonEmpty">
        </div>
    </div>