{% extends "layout.html" %}

{% block page_title %}
  Analyst sandbox concept
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/">Analyst sandbox prototype</a></li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/sandbox-start-page">Start</li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/build-sandbox">Data</li></a>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/choose-tools">Tools</li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/recipe-check">Check</li>
      <li>Complete</li>
     </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Your sandbox is complete</h1>
        <p>
          <strong class="heading-medium"><a href="https://www.gov.uk/performance/prototypes" target="_blank">Click here to start work</strong></a>
        </p>
      </div>
      <p>We have sent you an email with details of your sandbox.</p>  
  </div>
</main>

{% endblock %}


