{% extends "layout.html" %}

{% block page_title %}
  Complete sandbox
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/">Analyst sandbox prototype</a></li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/adv-branch">Begin</li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/build-sandbox">Data</a></li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/choose-tools">Tools</a></li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/recipe-check">Check</a></li>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/upload-data">Upload</a></li>
      <li>Complete</li>
     </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Your sandbox is complete</h1>
        <p>
          <strong class="heading-medium"><a href="https://test-sandbox.cloudapps.digital/tree" target="_blank">Click here to start work</strong></a>
        </p>
      </div>
      <p>We have sent you an email with details of your sandbox.</p>  
  </div>
</main>

{% endblock %}


