{% extends "layout.html" %}

{% block page_title %}
  Analyst sandbox concept
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="phase-banner">
 <p>
   <strong class="phase-tag">Prototype</strong>
   <span>This is a prototype of a new service – your <a href="#">feedback</a> will help us to improve it.</span>
 </p>

</div>
  <div class="grid-row">
    <div class="column-two-thirds">

    <section class="intro">

    <h1 class="heading-xlarge">
        <span class="heading-secondary">Step 1 of 8</span>
          Analyst sandbox prototype
      </h1>

      <p>Government analysis is changing, with data science tools and techniques playing a bigger role.</p>
      <p>This app demonstrates the concept of a sandbox that helps analysts adapt to that change. Users can test a variety of analytical software using their government issued devices, learn about their capabilities and build a business case for their use</p>
      </p>

      <form action="/" method="post" class="form">

        <h1 class="form-title heading-large">
          Login
        </h1>

        <!-- Username -->
          <div class="form-group">
            <label class="form-label-bold" for="full-name">Username</label>
              <span class="form-hint">Your email address</span>
              <input type="text" class="form-control" id="Username">
          </div>

        <!-- Password -->
          <div class="form-group">
            <label class="form-label-bold" for="ni-number">
          Password
        <span class="form-hint">
          This has been emailed to you
        </span>
      </label>
      <input type="Password" class="form-control" id="Password">
    </div>

      <div>
        <p><a class="button button-start" href="/Welcome" role="button">Login</a></p>
      </div>

      </form>

      </section>
</main>

{% endblock %}


