{% extends "layout.html" %}

{% block page_title %}
  Analyst sandbox concept
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


      <h1 class="heading-xlarge">
        <span class="heading-secondary">Step 1 of 6</span>
          Analyst sandbox concept
      </h1>

      <p>
        This app demonstrates the concept of a sandbox environment where analysts can test a variety of analytical software using their government issued devices, learn about their capabilities and build a business case for their use
      </p>

       <section aria-labelledby="transactions-per-year-heading" role="region" id="transactions-per-year" class="module kpi cols3">

        <h2 id="transactions-per-year"><a href="#">Sandboxes in use</a></h2>

        <div class="visualisation">

          <div class="visualisation-inner"><div class="stat">
            <p class="single-stat-headline impact-number">
              <strong><abbr aria-label="46,907,689" title="46,907,689">17 sandboxes</abbr></strong>
            </p>
            <p class="period">Since Jan 2017</p>
          </div>

          <div class="delta">
          <div class="single-stat-delta">
            See what tools others are using
          </div>
          </div>
        </div>

        <div class="visualisation-moreinfo">




        </div>

        </div>
      </section>

       <section aria-labelledby="total-cost-heading" role="region" id="total-cost" class="module kpi cols3">

        <h2 id="total-cost-heading"><a href="#">Users</a></h2>

        <div class="visualisation">

          <div class="visualisation-inner"><div class="stat">
            <p class="single-stat-headline impact-number">
              <strong><abbr aria-label="46,907,689" title="46,907,689">11 users</abbr></strong>
            </p>
            <p class="period">Eight departments</p>
          </div>

          <div class="delta">
          <div class="single-stat-delta">
            See who is using this service
          </div>
          </div>
        </div>

        <div class="visualisation-moreinfo">




        </div>

        </div>
      </section>

      <section aria-labelledby="cost-per-transaction-heading" role="region" id="cost-per-transaction" class="module kpi cols3">
  
        <h2 id="cost-per-transaction-heading"><a href="#">Impact</a></h2>
  
          <div class="visualisation">

            <div class="visualisation-inner"><div class="stat">
              <p class="single-stat-headline impact-number">
              <strong>5 case studies</strong>
              </p>
              <p class="period">Since Jan 2017</p>
            </div>

            <div class="delta">
              <div class="single-stat-delta">
            See what users have built
              </div>
            </div>
        </div>

          <div class="visualisation-moreinfo">

          </div>

        </div>
      </section>


  <form action="/" method="post" class="form">

    <h1 class="form-title heading-large">
      Login
    </h1>

    <!-- Username -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Username</label>
      <p class="form-hint">Your email address</p>
      <input type="text" class="form-control" id="full-name">
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="form-label-bold" for="ni-number">
        Password
        <span class="form-hint">
          This has been emailed to you
        </span>
      </label>
      <input type="text" class="form-control" id="ni-number">
    </div>

   <div>
   <p>
        <a class="button button-start" href="https://analyst-sandbox-prototype.herokuapp.com/adv-branch" role="button">Login</a>
      </p>
      </div>

  </form>


      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


