{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/">Analyst sandbox prototype</a></li>
      <li>Start</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Step 2 of 6</span>
          Welcome to the analyst sandbox
      </h1>

      <p>Use this service to:</p>

        <ul class="list list-bullet">
          <li>Build a new sandbox</li>
        </ul>
      <p>
           <a class="button button-start" href="https://analyst-sandbox-prototype.herokuapp.com/build-sandbox.html" role="button">Start now</a>
           </p>
      <ul class="list list-bullet">
        <li><a href="https://analyst-sandbox-prototype.herokuapp.com/existing-sandboxes.html">See your existing sandboxes</a></li>
      </uL>
   </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Menu</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Sandbox home</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
