{% extends "layout.html" %}

{% block page_title %}
  Sandbox welcome
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/existing-sandboxes">Sandbox homepage</a></li>
      <li>Share</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

    <a href="/existing-sandboxes">Back to sandbox homepage</a>

      <h1 class="heading-xlarge">
          Share your sandbox
      </h1>

      <form action="" method="get" class="form">


        <h2 class="heading-medium">
          How would you like to share your work?
        </h2>
        <p>Select one of the options below</p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              What would you like to do today?
            </legend>

            <label for="radio-part-2" class="block-label selection-button-radio">
              <input id="radio-part-2" type="radio" name="user" value="existing">
              <span class="heading-small">I want to convert/publish to another format</span><br>
              eg HTML
            </label>

            <label for="radio-part-3" class="block-label selection-button-radio">
              <input id="radio-part-3" type="radio" name="user" value="new">
              <span class="heading-small">I want to send a GitHub link to someone</span><br>
              Share your repository
            </label>

             <label for="radio-part-3" class="block-label selection-button-radio">
              <input id="radio-part-3" type="radio" name="user" value="new">
              <span class="heading-small">I want to add a collaborator to my sandbox</span><br>
              Give a collaborator access to your sandbox
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
