{% extends "layout.html" %}

{% block page_title %}
  Recipe check
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/">Analyst sandbox prototype</a></li>
      <li><a href="/user-agreement">User agreement</a></li>
      <li><a href="/welcome-test">About</a></li>
      <li><a href="/common-sandbox">Choose sandbox</a></li>
      <li>Task</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Step 6 of 8</span>
            Choose a task
        </h1>

        <p>
          This page helps to decide what other packages you need, depending on the the type of task you want to carry out, before your sandbox is built
        </p>

        
        <h2 class="heading-large">
          What sort of problem do you want to solve?
        </h2>

         <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">What sort of analysis do you want to try?</legend>

            <label for="nationality_british" class="block-label selection-button-checkbox">
              <input type="checkbox" name="nationality_british" value="British" id="nationality_british">
              Data visualisation
            </label>

            <label for="nationality_british" class="block-label selection-button-checkbox">
              <input type="checkbox" name="nationality_british" value="British" id="nationality_british">
              Trend analysis/topic modelling
            </label>

            <label for="nationality_irish" class="block-label selection-button-checkbox">
              <input type="checkbox" name="nationality_irish" value="Irish" id="nationality_irish">
              Machine learning
            </label>

            <label for="nationality_other" class="block-label selection-button-checkbox" data-target="example_nationality_other">
              <input type="checkbox" name="nationality_other" value="Wales" id="nationality_other">
              Other
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example_nationality_other">
              <label for="nationality_other_countries" class="form-label">
                Please specify
              </label>
              <input class="form-control" type="text" id="nationality_other_countries">
            </div>

          </fieldset>
        </div>
       <p>
           <a class="button button-start" href="https://analyst-sandbox-prototype.herokuapp.com/recipe-check.html" html" role="button">Check your sandbox</a>
      </p>
        
        
  </div>
</main>
{% endblock %}
