{% extends "layout.html" %}

{% block page_title %}
  Upload data in browser
{% endblock %}

{% block content %}
<main id="content" role="main">
<div class="phase-banner">
 <p>
   <strong class="phase-tag">Prototype</strong>
   <span>This is a prototype of a new service – your <a href="#">feedback</a> will help us to improve it.</span>
 </p>

</div>

  <div class="grid-row">
    <div class="column-two-thirds">

        <a href="/existing-sandboxes">Back to sandbox homepage</a>

      <form action="/open-data" method="get" class="form">

        <h1 class="heading-xlarge">
            Upload data using your browser
        </h1>

        <p>This page helps you upload data into your sandbox using your browser, allowing you to analyse it using the tools you have selected.</p>

        <h2 class="heading-medium">The data you upload must not be classified as SECRET or TOP SECRET. The data will be uploaded to the cloud alongside the tools you have placed in your sandbox, so ensure you review the <a href="/user-agreement-reminder" target="_blank">sandbox user agreement</a>, and act responsibly.

        <h2 class="heading-large">
          How do you want to upload data?
        </h2>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">How do you want to upload data?</legend>

            <div class="multiple-choice">
              <input id="radio-home-address" type="radio" name="upload" value="csv">
              <label for="radio-home-address"><span class="heading-small">Upload a CSV file</span><br>
              This opens a new window for you select a local file to upload
              </label>
            </div>

            <div class="multiple-choice">
              <input id="radio-home-address" type="radio" name="upload" value="db">
              <label for="radio-home-address"><span class="heading-small">Write to a database</span><br>
              This opens a new window that allows you to connect to your database and write to it</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-home-address" type="radio" name="upload" value="open">
              <label for="radio-home-address"><span class="heading-small">Upload open data</span><br>
              This opens a new window that directs you to sources of open data</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-home-address" type="radio" name="upload" value="synthetic">
              <label for="radio-home-address"><span class="heading-small">Create synthetic data</span><br>
              This opens a new window that helps you create synthetic data</label>
            </div>

            <div class="multiple-choice" data-target="example-other-address">
              <input id="radio-other-address" type="radio" name="radio-indent-group" value="Other" aria-controls="example-other-address" aria-expanded="true">
              <label for="radio-other-address">Other methods</label>
            </div>  

            <div class="panel panel-border-narrow" id="example-other-address" aria-hidden="false">

              <h2 class="heading-medium">
                Your other address
              </h2>

              <fieldset>

                <legend class="visually-hidden">
                  Your other address
                </legend>

                <div class="form-group form-group-compound">
                  <label class="form-label" for="address-line-1">Please specify</label>
                  <input class="form-control" type="text" id="address-line-1">
                </div>

              </fieldset>

            </div>           

          </fieldset>
        </div>

      <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
