{% extends "layout.html" %}

{% block page_title %}
  About your data
{% endblock %}

{% block content %}
<main id="content" role="main">
<div class="phase-banner">
 <p>
   <strong class="phase-tag">Prototype</strong>
   <span>This is a prototype of a new service – your <a href="#">feedback</a> will help us to improve it.</span>
 </p>

</div>

  <div class="grid-row">
    <div class="column-two-thirds">

        <a href="/existing-sandboxes">Back to sandbox homepage</a>

      <form action="/" method="post" class="form">

        <h1 class="heading-xlarge">
            Upload data through directly in your development environment
        </h1>

       <h2 class="heading-medium">
          This following links help you add data to your sandbox directly in your development environment.
        </h2>
</main>
{% endblock %}
