{% extends "layout.html" %}

{% block page_title %}
  About your data
{% endblock %}

{% block content %}
<main id="content" role="main">
<div class="phase-banner">
 <p>
   <strong class="phase-tag">Prototype</strong>
   <span>This is a prototype of a new service – your <a href="#">feedback</a> will help us to improve it.</span>
 </p>

</div>

  <div class="grid-row">
    <div class="column-two-thirds">

    <a href="/existing-sandboxes">Back to sandbox homepage</a>

      <form action="/" method="post" class="form">

        <h1 class="heading-xlarge">
            Upload data directly in your development environment
        </h1>

       <p>
          This following links help you add data to your sandbox directly in your development environment.
        </p>

        <h2 class="heading-medium">The data you upload must not be classified as SECRET or TOP SECRET. The data will be uploaded to the cloud alongside the tools you have placed in your sandbox, so ensure you review the <a href="/user-agreement-reminder" target="_blank">sandbox user agreement</a>, and act responsibly.

        <div><ul class="list list-bullet">
                <li><a href="/read-csv">Read a *.csv file in Python or R</a></li>
                <li><a href="/write-database">Write to a database</a></li>
                <li><a href="/open-data">Upload open data</li>
                </ul></div>
</main>
{% endblock %}
