{% extends "layout.html" %}

{% block page_title %}
  Sandbox welcome
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/">Analyst sandbox prototype</a></li>
      <li>Begin</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Step 2 of 7</span>
          Welcome to the analyst sandbox
      </h1>

      <form action="/existing-sandboxes" method="get" class="form">


        <h2 class="heading-medium">
          To use the analyst sandbox, please review and agree to this user agreement
        </h2>

<div><ul class="list list-bullet">
        <li>I have read the <a href="https://www.gov.uk/government/publications/data-science-ethical-framework">Data science ethical framework</a> and agree that when working in the sandbox, I will be aware of its six key principles:</li>
        <ul><li>1) Start with clear user need and public benefit.</li>
        <li>2) Use data and tools which have the minimum intrusion necessary</li>
            <li>3) Create robust data science models</li>
            <li>4) Be alert to public perceptions</li>
            <li>5) Be as open and accountable as possible</li>
            <li>6) Keep data secure</li></ul>
        <li>I understand my responsibilities under the <a href="http://www.legislation.gov.uk/ukpga/1998/29/contents">UK Data Protection Act 1998</a> and the <a href="https://ico.org.uk/for-organisations/data-protection-reform/overview-of-the-gdpr/">EU General Data Protection Regulation (GDPR)</a>, and will act accordingly</li>
        <li>I will only use publicly available open data, or government data classified as OFFICIAL - and will take appropriate measures to ensure that sensitive data is only shared on a need-to-know basis. <bold>I will not use data classified as SECRET or TOP SECRET</bold></li>
        <li>If I have any questions about the ethics or security of my work in the sandbox, I will stop and <a href="#"> ask for help</a></li>
        </ul>
      </div>

 <div>
        <p><a class="button button-start" href="https://analyst-sandbox-prototype.herokuapp.com/Welcome" role="button">I agree</a></p>
      </div>
        
    </div>
  </div>
</main>
{% endblock %}
