{% extends "layout.html" %}

{% block page_title %}
  Sandbox welcome
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://analyst-sandbox-prototype.herokuapp.com/">Analyst sandbox prototype</a></li>
      <li>Begin</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Step 2 of 7</span>
          Welcome to the analyst sandbox
      </h1>

      <form action="adv-user" method="get" class="form">


        <h2 class="heading-medium">
          What would you like to do today?
        </h2>
        <p>Select one of the options below</p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              What would you like to do today?
            </legend>

            <label for="radio-part-2" class="block-label selection-button-radio selected">
              <input id="radio-part-2" type="radio" name="adv-user" value="Part 2">
              <span class="heading-small">I want to work in my existing sandbox</span><br>
              Go to your sandbox homepage
            </label>

            <label for="radio-part-3" class="block-label selection-button-radio">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">I want to create a new sandbox</span><br>
              Configure your new sandbox
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
